/*=============================*/


/* START BASIC CSS  */


/*=============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #33d2fd;
    --secondary-color: #233148;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}

ul li {
    list-style-type: none;
}


/* HEADING */

h1 {
    font-size: 4.2rem;
    color: #ffffff;
}

p{
    color: #6a6d89;
    font-size: 1.4rem;
}


/*=============================*/


/* RESUSEABLE COMPONENTS  */


/*=============================*/

.row {
    max-width: 114rem;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

h2 {
    font-size: 4rem;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    height: .4rem;
    background: #ffffff;
    width: 8.6rem;
    margin: 0 auto;
    margin-top: 2rem;
}

h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-color);
}

.box{
    padding: 1%;
}

.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #ffffff;
}


/* BUTTON */

.btn:link,
.btn:visited,
.btn {
    background: var(--secondary-color);
    border-bottom: 1px solid #000;
    color: #ffffff;
    padding: 1.5rem 6rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}

/* PARAGRAPH */
.little-description{
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
}


/*=============================*/
/* HEADER SECTION  */
/*=============================*/
header{
 background: var(--primary-color);
}

/* Navigation area css styles */

header .nav-area{
    width: 100%;
}
header .nav-area .logo-area{}
header .nav-area .logo-area .logo{
    padding: 6rem 0;
}

header .nav-area .menu-area{}
header .nav-area .menu-area ul {
    text-align: right;
}
header .nav-area .menu-area ul li {
    display: inline-block;
    padding: 6rem 0 6rem 6rem;
}
header .nav-area .menu-area ul li a {
    color: rgba(255,255,255,1.0);
    font-weight: 600;
    transition: 0.3s;

}
header .nav-area .menu-area ul li a:hover{
    color: var(--secondary-color)
}

