/*=============================*/


/* START BASIC CSS  */


/*=============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --primary-color: #33d2fd;
    --secondary-color: #233148;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}

ul li {
    list-style-type: none;
}


/* HEADING */

h1 {
    font-size: 4.2rem;
    color: #ffffff;
}

p {
    color: #6a6d89;
    font-size: 1.4rem;
}


/*=============================*/


/* RESUSEABLE COMPONENTS  */


/*=============================*/

.row {
    max-width: 117rem;
    margin: 0 auto;
}

section {
    padding: 5rem 0;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

h2 {
    font-size: 4rem;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    height: .4rem;
    background: #ffffff;
    width: 8.6rem;
    margin: 0 auto;
    margin-top: 2rem;
}

h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-color);
}

.box {
    padding: 1%;
}

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #ffffff;
}

p {
    color: #6a6d89;
}


/* BUTTON */

.btn:link,
.btn:visited,
.btn {
    background: var(--secondary-color);
    border-bottom: 1px solid #000;
    color: #ffffff;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
    cursor: pointer;
}


/* PARAGRAPH */

.little-description {
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
}


/*=============================*/


/* HEADER SECTION  */


/*=============================*/

header {
    background: url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: -30rem;
    overflow: hidden;
}


/* Navigation area css styles */

header .nav-area {
    width: 100%;
}

header .nav-area .logo-area {}

header .nav-area .logo-area .logo {
    padding: 6rem 0;
}

header .nav-area .menu-area {}

header .nav-area .menu-area ul {
    text-align: right;
}

header .nav-area .menu-area ul li {
    display: inline-block;
    padding: 6rem 0 6rem 6rem;
}

header .nav-area .menu-area ul li a {
    color: rgba(255, 255, 255, 1.0);
    font-weight: 600;
    transition: 0.3s;
}

header .nav-area .menu-area ul li a:hover {
    color: var(--secondary-color)
}


/* Hero area css styles */

header .hero-area {
    text-align: center;
}

header .hero-area .hero-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

header .hero-area .hero-text h1 {
    font-weight: 700;
    font-size: 4.5rem;
}

header .hero-area .hero-text p {
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1.0);
}

header .hero-area .hero-text .btn-area {
    margin-bottom: 7rem;
    font-weight: 600;
    font-size: 1.4rem;
}

header .hero-area .hero-text .btn-download {
    background: rgba(255, 255, 255, 1.0);
    color: var(--secondary-color);
    outline: 0;
    border: 0;
    margin-right: 2.5rem;
    border: 0.1rem solid rgba(255, 255, 255, 1.0);
    transition: 0.3s;
}

header .hero-area .hero-text .btn-download:hover {
    background: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    color: var(--primary-color);
}

header .hero-area .hero-text .btn-contact {
    background: none;
    color: rgba(255, 255, 255, 1.0);
    outline: 0;
    border: 0.1rem solid rgba(255, 255, 255, 1.0);
    transition: 0.3s;
}

header .hero-area .hero-text .btn-contact:hover {
    background: rgba(255, 255, 255, 1.0);
    color: var(--secondary-color);
}

header .hero-area .hero-phone {}

header .hero-area .hero-phone .smartphone {
    width: 25.6rem;
    height: auto;
}
/* ABOUT SECTION CSS STYLE  */
.about{
    /* /* -moz-backface-visibility: hidden; */
    backface-visibility: hidden; */
}

/* Marketing area css styles */
.marketing-1-area {
	margin-bottom: 10rem;
	background: url(img/about-bg.png) no-repeat;
	background-size: cover;
	background-position: center top;
	position: relative;
	padding: 220px;
}

.marketing-1-area .smartphone-area {
    width: 25%;
}

.marketing-1-area .smartphone-area .smartphone {}

.marketing-1-area .add-area {
    width: 70%;
    position: relative;
}

.marketing-1-area .add-area .title {
    color: var(--secondary-color);
    font-size: 1.4rem;
}

.marketing-1-area .add-area .details {
    color: #6a6d89;
    font-size: 1.4rem;
}

.marketing-1-area .add-area .box {
	width: 33%;
	float: left;
	text-align: center;
	padding: 2rem;
	border-radius: 0.5rem;
    box-shadow: 0px 2px 5px 2px #c1c1c1c1;
    background: #ffffff;
}

.marketing-1-area .add-area .add1 {
	position: absolute;
	left: 15.4rem;
}

.marketing-1-area .add-area .add2 {
	position: absolute;
	right: 3rem;
	top: 10rem;
}

.marketing-1-area .add-area .add3 {
	position: absolute;
	left: 5rem;
	top: 32rem;
} 
.marketing-1-area .add-area .add4 {
	position: absolute;
	right: 13.5rem;
	top: 40rem;
}

.marketing-1-area .add-area .box .icon {
    padding: 2rem;
}