/*=============================*/


/* START BASIC CSS  */


/*=============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}

ul li {
    list-style-type: none;
}


/* HEADING */

h1 {
    font-size: 4.2rem;
    color: #ffffff;
}


/*=============================*/


/* RESUSEABLE COMPONENTS  */


/*=============================*/

.row {
    max-width: 114rem;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

a{color: #ffffff;}

h2 {
    font-size: 4rem;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #ffffff;
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    height: .4rem;
    background: #ffffff;
    width: 8.6rem;
    margin: 0 auto;
    margin-top: 2rem;
}

h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.box{
    padding: 1%;
}

.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #ffffff;
}


/* BUTTON */

.btn:link,
.btn:visited,
.btn {
    background: #333333;
    border-bottom: 1px solid #000;
    color: #ffffff;
    padding: 1.5rem 6rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}

/* PARAGRAPH */
.little-description{
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
}


/*=============================*/


/* HERO SECTION  */


/*=============================*/



